/* CSS DOCUMENT */

body {
    font-family: sans-serif; 
    margin-left: 40px; 
    margin-right: 40px; 
    background-color: aliceblue;
}

h1 {
    color: rgb(0,200,250);
    font-size: 2.2em; 
    text-align: center;
}

h2 {
    color: lightblue; 
    font-family: sans-serif; 
    font-size: 1.7em;
    text-align: center;
    font-style: italic;
}

h3 {
    font-family: sans-serif; 
    text-transform: uppercase;
    margin-top: 2em;
}

h4 {
    margin-bottom: 0em;
    margin-top: 1em;
}

p {
    margin-bottom: 0em;
    margin-top: 0em
}

ul {
    list-style-type: none
}

.price {
    font-style: italic;
}

